body {
  margin: 0;
  background-color: #7933ce;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

canvas {
  width: 100%;
  height: 100%;
}

canvas.frame {
  cursor: crosshair;
}

.frame {
  border: 6px solid #eee;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  opacity: 1.0;
  border-radius: 0;
}

.frame.circular {
  width: 350px;
  height: 350px;
  border-radius: 225px;
}

.shadow {
  width: 500px;
  height: 300px;
  background: url("../images/shadow.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0.15;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#ui button {
  transition: background-color 350ms;
  border: 3px solid #eee;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 3px;
  outline: none;
  pointer-events: auto;
  background-position: center;
}

#ui button.disabled {
  border-width: 3px;
  border-color: #c9dddb;
  background-color: #c9dddb;
  width: 44px;
  height: 44px;
  margin: 6px;
}

#ui button.active {
  border-color: #07eaff;
}

#ui button.color {
  position: relative;
}

#ui button.color .inside {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 7px;
  left: 7px;
  border-radius: 15px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #000;
}

#ui button.color.disabled .inside {
  top: 4px;
  left: 4px;
}

#bg-ui {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

#ui .space {
  display: inline-block;
  margin-left: 56px;
}

#ui .widget {
  display: inline-block;
}

#ui .ui-container {
  position: relative;
  z-index: 10;
  margin-top: -8px;
  margin-left: 8px;
}

#ui .ui-container-space {
  position: relative;
  margin-top: -8px;
  height: 50px;
  margin-left: 8px;
}

#ui .ui-container.first {
  margin-top: 8px;
}

#ui .ui-container.odd {
  margin-left: 36px;
}

#help-text {
  background-color: rgba(239, 255, 119, 0.9);
  padding: 5px 5px 20px 5px;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  transition: opacity 300ms;
  opacity: 1;
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
  text-align: center;
}

#help-text.disabled {
  opacity: 0;
}

#go-home {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}