body {
  margin: 0;
  background-color: #7933ce;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

canvas {
  width: 100%;
  height: 100%;
}

canvas.frame {
  cursor: crosshair;
}

.frame {
  border: 6px solid #eee;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  opacity: 1.0;
  border-radius: 0;
}

.frame.circular {
  width: 350px;
  height: 350px;
  border-radius: 225px;
}

.shadow {
  width: 500px;
  height: 300px;
  background: url("../images/shadow.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0.15;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#ui button {
  transition: background-color 350ms;
  border: 3px solid #eee;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 3px;
  outline: none;
  pointer-events: auto;
  background-position: center;
}

#ui button.disabled {
  border-width: 3px;
  background-color: #c9dddb;
  width: 44px;
  height: 44px;
  margin: 6px;
}

#ui button.active {
  border-color: #07eaff;
}

#bg-ui {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

#ui .space {
  display: inline-block;
  margin-left: 56px;
}

#ui .widget {
  display: inline-block;
}

#ui .ui-container {
  position: relative;
  z-index: 10;
  margin-top: -8px;
  margin-left: 8px;
}

#ui .ui-container-space {
  position: relative;
  margin-top: -8px;
  height: 50px;
  margin-left: 8px;
}

#ui .ui-container.first {
  margin-top: 8px;
}

#ui .ui-container.odd {
  margin-left: 36px;
}

#help-text {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 50%;
  width: 300px;
  margin-right: -150px;
  z-index: 2;
}

#go-home {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}