body {
  margin: 0;
  background-color: #ffff00;
}

canvas {
  width: 100%;
  height: 100%;
}

.frame {
  border: 6px solid #eee;
  width: 300px;
  height: 390px;
  background-color: #ffffff;
  opacity: 1.0;
}

.frame.circular {
  width: 350px;
  height: 350px;
  border-radius: 225px;
}

.shadow {
  width: 500px;
  height: 300px;
  background: url("../images/shadow.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0.15;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#ui button {
  border: 3px solid #eee;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 3px;
  outline: none;
  pointer-events: auto;
}

#ui button.active {
  border-color: #00ffff;
}

#bg-ui {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

#ui .ui-container {
  position: relative;
  z-index: 10;
  margin-top: -8px;
  margin-left: 8px;
}

#ui .ui-container.first {
  margin-top: 8px;
}

#ui .ui-container.odd {
  margin-left: 36px;
}
